---
layout: default
title: Home
---

<div class="row mx-auto row-main-1" style="width: 100%;" onload="detectBrowser()" id="localDetails">
  <div class="col-xl-8 main-col-1 margin-top-under-nav status-animation-find" id="status-animation"
    style="width: 100%;">
    <div class="status-animation">
      <figure class="animation-cards">
        <div class="animation-cards-content">
          <div class="animation-cards-item d-flex align-items-center justify-content-center" onclick="hidestatuscard()">
            <span>
              <h2 id="activeCases" class="text-center animation-cards-item-count">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h2>
              <h4 class="animation-cards-item-subtitle">Active Cases</h2>
                <img src="./virus.png" class="card-virus-cell">
            </span>
          </div>
          <div class="animation-cards-item d-flex align-items-center justify-content-center" onclick="hidestatuscard()">
            <span>
              <h2 id="recovered" class="text-center animation-cards-item-count">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h2>
              <h4 class="animation-cards-item-subtitle">Recovered</h2>
                <img src="./virus.png" class="card-virus-cell">
            </span>
          </div>
          <div class="animation-cards-item d-flex align-items-center justify-content-center" onclick="hidestatuscard()">
            <span>
              <h2 id="deaths" class="text-center animation-cards-item-count">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h2>
              <h4 class="animation-cards-item-subtitle">Deaths</h2>
                <img src="./virus.png" class="card-virus-cell">
            </span>
          </div>
          <div class="animation-cards-item d-flex align-items-center justify-content-center "
            onclick="hidestatuscard()">
            <span class="shine">
              <img src="./sl-flag.png" class="animation-card-img">
            </span>
          </div>
        </div>
      </figure>
    </div>
  </div>

  <div class="col-xl-8 main-col-1-b margin-top-under-nav table-sl-details-find" style="display: none;"
    id="table-sl-details" style="width: 100%;">
    <div class="col-10 mx-auto table-sl-details-1">
      <img src="./virus.png" class="back-virus-cell-1">
      <img src="./virus.png" class="back-virus-cell-2">
      <div class="justify-content-center card-deck">
        <div class="col col-details mb-4" onclick="hidetabledetails()">
          <div class="card card-details text-white bg-primary">
            <div class="card-header table-card-header">Active Cases</div>
            <div class="card-body table-card-body">
              <h1 class="card-title" id="activeCases-2">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h1>
            </div>
          </div>
        </div>
        <div class="col col-details mb-4" onclick="hidetabledetails()">
          <div class="card card-details text-white bg-success">
            <div class="card-header table-card-header">Recovered</div>
            <div class="card-body table-card-body">
              <h1 class="card-title" id="recovered-2">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h1>
            </div>
          </div>
        </div>
        <div class="col col-details mb-4" onclick="hidetabledetails()">
          <div class="card card-details text-white bg-danger">
            <div class="card-header table-card-header">Deaths</div>
            <div class="card-body table-card-body">
              <h1 class="card-title" id="deaths-2">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 main-col-2 margin-top-under-nav-xl" style="width: 100%;">
    <div class="col-xl-12 col-10 mx-auto table-sl-details">
      <div class="row justify-content-center card-deck">
        <div class="col col-xl-6 col-md-4 col-details mb-4">
          <div class="card card-details text-white" style="background-color: #c79600">
            <div class="card-header table-card-header">Total</div>
            <div class="card-body table-card-body">
              <h1 class="card-title" id="totalInfected">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h1>
            </div>
          </div>
        </div>
        <div class="col col-xl-6 col-md-4 col-details mb-4">
          <div class="card card-details text-white bg-secondary">
            <div class="card-header table-card-header">Suspected</div>
            <div class="card-body table-card-body">
              <h1 class="card-title" id="suspected">
                <div class="spinner">
                  <div class="double-bounce1"></div>
                  <div class="double-bounce2"></div>
                </div>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-5 col-10 mx-auto table-sl-details-2">
  <div class="row justify-content-center card-deck">
    <div class="col col-xl-6 col-md-4 col-details mb-4">
      <div class="card card-details text-white bg-info">
        <div class="card-header table-card-header">Death Rate</div>
        <div class="card-body table-card-body">
          <h1 class="card-title" id="deathRate">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </h1>
        </div>
      </div>
    </div>
    <div class="col col-xl-6 col-md-4 col-details mb-4">
      <div class="card card-details text-white bg-info">
        <div class="card-header table-card-header">Recovery Rate</div>
        <div class="card-body table-card-body">
          <h1 class="card-title" id="recoveryRate">
            <div class="spinner">
              <div class="double-bounce1"></div>
              <div class="double-bounce2"></div>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mx-auto row-main-2" style="width: 100%;">
  <div class="col-xl-4 main-col-1 main-col-b-1 margin-bottom-before-footer-xl" style="width: 100%;">
    <div class="col-xl-12 col-md-8 mx-auto font-1" id="hospitalDetails" style="padding-top: 100px; margin-top: -100px;">
      <h3 class="display-4 caption-2">Hospital Details</h3>
      <table class="table table-sm table-striped table-dark">
        <thead class="text-center">
          <tr>
            <th scope="col" rowspan="2">Hospital</th>
            <th scope="col" colspan="3">Suspected on today</th>
          </tr>
          <tr>
            <th scope="col">SL</th>
            <th scope="col">Forei.</th>
            <th scope="col">Tot.</th>
          </tr>
        </thead>
        <tbody id="sl-hospitals-details" class="sl-hospitals-details">
        </tbody>
      </table>
    </div>

    <div class="container font-1" id="latestTimeline" style="padding-top: 100px; margin-top: -100px;">
      <div class="row">
        <div class="col-xl-12 col-md-8 mx-auto">
          <h3 class="display-4 caption-2">Timeline</h3>
          <ul class="timeline">
            {% for date in site.data.timeline limit: 6 %}
            <li>
              <h3>{{ date.date }}</h3>
              {% if date.important %}
              {% for importanttext in date.important %}
              <h5 style="color: red;">- {{ importanttext.text }}</h5>
              {% endfor %}
              {% endif %}

              {% for detail in date.data %}
              <h6>- {{ detail.text }}</h6>
              {% endfor %}
            </li>
            {% endfor %}
          </ul>
          <a href="./timeline.html" class="btn btn-see-all text-white mx-auto" style="width: 100%;">See All</a>
          <div class="text-center">Source - News1st | <a href="http://corona.newsfirst.lk/">http://corona.newsfirst.lk/</a></div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-xl-8 main-col-2 margin-bottom-before-footer" style="width: 100%;">
    <div class="col-xl-12 col-10 mx-auto news-panel" id="latestNews"
      style="padding-top: 100px; margin-top: -100px; width: 100%;">
      <h3 class="display-4 caption-2" id="news-panel">Latest News on COVID-19</h3>
      <input type="text" class="col-10 search-bar" id="myInput" onkeyup="searchFunction()"
        placeholder="Search for news.." title="Type here" style="display: none;">
      <h5 class="loading-news" id="loading-news">Loading News ...</h5>
      <h5 class="no-news" id="noNews" style="display: none;">Search not found! <br> Check in all News.</h5>
      <div class="card-columns news" id="news">
      </div>
      <a href="./news.html" class="btn btn-see-all text-white mx-auto" id="see-all" style="display: none;">See All
        News</a>
    </div>

    <div class="container font-1" id="emergencyContacts" style="padding-top: 120px; margin-top: -100px;">
    <div class="card-emergency font-1">
      <div class="row row-cols-1 row-cols-md-3 text-white">
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h2 class="card-title emergency-number">1990</h2>
                <p class="card-text emergency-text">Suwasariya Ambulance Service</p>
                <div class='contain'>
                  <a href="tel:1990">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h2 class="card-title emergency-number">199</h2>
                <p class="card-text emergency-text">Police Emergency Call Centre</p>
                <div class='contain'>
                  <a href="tel:199">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h2 class="card-title emergency-number">117</h2>
                <p class="card-text emergency-text">President Task Force</p>
                <div class='contain'>
                  <a href="tel:177">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h5 class="card-title emergency-number">011 242 2222</h5>
                <p class="card-text emergency-text">Fire and Rescue / Ambulance</p>
                <div class='contain'>
                  <a href="tel:011-242-2222">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h5 class="card-title emergency-number">011 242 1052</h5>
                <p class="card-text emergency-text">Tourist Police</p>
                <div class='contain'>
                  <a href="tel:011-242-1052">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h5 class="card-title emergency-number">011 269 1111</h5>
                <p class="card-text emergency-text">General Hospital Colombo</p>
                <div class='contain'>
                  <a href="tel:011-269-1111">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h5 class="card-title emergency-number">071 010 7107</h5>
                <p class="card-text emergency-text">Health Promotion Bureau</p>
                <div class='contain'>
                  <a href="tel:071-010-7107">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h5 class="card-title emergency-number">011 307 1073</h5>
                <p class="card-text emergency-text">Disaster Unit of Ministry of Health</p>
                <div class='contain'>
                  <a href="tel:011-307-1073">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card bg-transparent text-center">
            <div class="card-body">
              <div class="containcall">
                <h5 class="card-title emergency-number">011 309 0502 / 113</h5>
                <p class="card-text emergency-text">Information and complaints regarding quarantine process</p>
                <div class='contain'>
                  <a href="tel:011-309-0502">
                    <img alt='' class='phonecall' height='24' src='./images/icons/callbtn.png' width='24'>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<script src="./script.js"></script>