<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="theme-color" content="#180268" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-firestore.js"></script>

  <!--FACEBOOK-->
  <meta property="og:image" content="https://covid19-sl-report.netlify.com/covid-sl-img.png">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="900">
  <meta property="og:image:height" content="600">
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://covid19-sl-report.netlify.com/" />
  <meta property="og:title" content="COVID-19 SL REPORT" />
  <meta property="fb:app_id" content="243473633359637" />
  <meta property="og:description"
    content="Stay safe at home with the latest news and updates on the COVID-19 status of Sri Lanka at your finger prints from the realtime updating website." />

  <!-- Other Css -->
  <link href="main.css" rel="stylesheet">
  <link rel="icon" type="image/png" href="./sri_lanka_icon_square.svg">

  <!--Boostrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>
    COVID-19 SL Report
  </title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159981863-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-159981863-1');
  </script>
</head>

<body class="text-white bg-dark">
  <!-- <h1 class="display-3 caption">COVID-19</h1> -->
  <div class="header">
    <div class="header-box shadow">
      <div class="caption">
        <h1>COVID-19</h1>
        <h2>Report of Sri Lanka</h2>
      </div>
    </div>
  </div>

  <!-- <div class="card col-md-8 col-11 mx-auto mb-3 sub-caption">
    <div class="row no-gutters">
      <div class="col-9 sub-caption-text">
        <div class="card-body">
          <h2 class="text-center caption-2">Report of Sri Lanka</h2>
        </div>
      </div>
      <div class="col-3">
        <img src="./sl-flag.png" class="flag card-img" alt="lk-flag">
      </div>
    </div>
  </div> -->

  <div class="status-animation">
    <figure class="animation-cards">
      <div class="animation-cards-content">
        <div class="animation-cards-item d-flex align-items-center justify-content-center">
          <span>
            <h2 id="activeCases" class="animation-cards-item-count" style="text-align: center;">000</h2>
            <h4 class="animation-cards-item-subtitle">Active Cases</h2>
          </span>
        </div>
        <div class="animation-cards-item d-flex align-items-center justify-content-center">
          <span>
            <h2 id="recovered" class="animation-cards-item-count" style="text-align: center;">000</h2>
            <h4 class="animation-cards-item-subtitle">Recovered</h2>
          </span>
        </div>
        <div class="animation-cards-item d-flex align-items-center justify-content-center">
          <span>
            <h2 id="deaths" class="animation-cards-item-count" style="text-align: center;">000</h2>
            <h4 class="animation-cards-item-subtitle">Deaths</h2>
          </span>
        </div>
      </div>
    </figure>
  </div>

  <div class="col-10 mx-auto table-sl-details">
    <div class="row justify-content-center card-deck">
      <div class="col col-md-4 col-details mb-4">
        <div class="card card-details text-white bg-warning">
          <div class="card-header table-card-header">Total</div>
          <div class="card-body table-card-body">
            <h1 class="card-title" id="totalInfected">000</h1>
          </div>
        </div>
      </div>
      <!-- <div class="col col-details mb-4">
        <div class="card card-details text-white bg-primary">
          <div class="card-header">Active Cases</div>
          <div class="card-body">
            <h1 class="card-title" id="activeCases">000</h1>
          </div>
        </div>
      </div> -->
      <!-- <div class="col col-details mb-4">
        <div class="card card-details text-white bg-success">
          <div class="card-header">Recovered</div>
          <div class="card-body">
            <h1 class="card-title" id="recovered">000</h1>
          </div>
        </div>
      </div> -->
      <div class="col col-md-4 col-details mb-4">
        <div class="card card-details text-white bg-secondary">
          <div class="card-header table-card-header">Suspected</div>
          <div class="card-body table-card-body">
            <h1 class="card-title" id="suspected">000</h1>
          </div>
        </div>
      </div>
      <!-- <div class="col col-details mb-4">
        <div class="card card-details text-white bg-danger">
          <div class="card-header">Deaths</div>
          <div class="card-body">
            <h1 class="card-title" id="deaths">00</h1>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <!--newly updated code-->
  <div id="topBar"> <a href ="#" onclick="load_home()"> WorldWide status </a> </div>
  <div id ="content"> </div>
  <script>
        function load_home() {
     document.getElementById("content").innerHTML='<object type="text/html" data="stats.html" ></object>';
}
    
  </script> 

  <div class="col-10 mx-auto news-panel">
    <h3 class="display-4 caption-2">Latest News on COVID-19</h3>
    <input type="text" class="col-10 search-bar" id="myInput" onkeyup="searchFunction()" placeholder="Search for news.."
      title="Type here">
    <h5 class="loading-news" id="loading-news">Loading News ...</h5>
    <div class="card-columns news" id="news">
      <!-- {% for item in site.data.news %}
        {% if item.channel == "News1st" %}
        <div class="card text-white" style="background-color: rgb(194, 113, 7);">
        {% elsif item.channel == "AdaDerana" %}
        <div class="card text-white" style="background-color: rgb(196, 0, 0);">
        {% elsif item.channel == "BBC" %}
        <div class="card text-white" style="background-color: rgb(0, 0, 0);">
        {% else %}
        <div class="card text-white" style="background-color: rgb(17, 0, 80);">
        {% endif %}
          <img src="{{ item.img }}" class="card-img-top" alt="img" style="width: 100%; padding: 5px;">
          <div class="card-body news-body">
            <h2 class="card-title news-title"><b>{{ item.caption }}</b></h2>
            {% if item.description %}
            <h5 class="card-text">{{ item.description }}</h5>
            {% endif %}
            <p class="card-text"><i>Source - {{ item.channel }}</i></p>

            {% if item.channel == "News1st" %}
            <a href="{{ item.link }}" target="_blank" class="btn btn-warning">Visit...</a>
            {% elsif item.channel == "AdaDerana" %}
            <a href="{{ item.link }}" target="_blank" class="btn btn-danger">Visit...</a>
            {% elsif item.channel == "BBC" %}
            <a href="{{ item.link }}" target="_blank" class="btn btn-dark">Visit...</a>
            {% else %}
            <a href="{{ item.link }}" target="_blank" class="btn btn-primary">Visit...</a>
            {% endif %}   

            <p class="card-text news-time"><small>{{ item.time }}</small></p>
          </div>
        </div>
    {% endfor %} -->
    </div>
    <a href="./news.html" class="btn btn-see-all text-white mx-auto" id="see-all" style="display: none;">See All
      News</a>

  </div>


  <nav class="navbar navbar-dark fixed-bottom footer">
    <h5 class="navbar-brand" href="#">Covid19 SL Report</h5>
    <span class="navbar-text">
      <b>Developers - </b>
      <br> Supun Tharinda | Hasala Heiyanthuduwa
    </span>
    <span class="navbar-text">
      <b>Live Updating Crew - </b>
      <br> Chamuthu Megha | Chamindu Jayanath
    </span>
  </nav>

  <div class="pos-f-t fixed-bottom mobile-footer">
    <div class="collapse mobile-footer-head" id="navbarToggleExternalContent">
      <div class="mobile-footer-head-cover p-4">
        <div class="navbar-text">
          <b>Developers - </b>
          <br> Supun Tharinda
          <br> Hasala Heiyanthuduwa
        </div>
        <br>
        <div class="navbar-text">
          <b>Live Updating Crew - </b>
          <br> Chamuthu Megha
          <br> Chamindu Jayanath
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark mobile-footer-body">
      <button class="navbar-toggler mobile-footer-button mx-auto" type="button" data-toggle="collapse"
        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <h5 class="text-white text-center h6">COVID-19 SL Report</h5>
      </button>
    </nav>
  </div>

  <script src="./script.js"></script>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>


</html>