@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.body {
    background-color: rgb(0, 0, 0) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(81, 79, 87, 0.603);
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.342);
    transition: 2s !important;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 138, 138);
}

.caption {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    margin: 30px auto;
}

.sub-caption {
    padding: 10px;
    background-color: rgb(24, 2, 104) !important;
}

.sub-caption-text {
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    margin: 10px auto 10px !important;
}

.flag {
    padding: 10px;
    margin: 10px auto !important;
}

.table-sl-details {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    display: table;
    width: 100%;
    margin-bottom: 100px;
}

.col-details {
    padding: 0px !important;
}

.card.card-details {
    border-radius: 0 !important;
}

.card-header {
    font-size: 100%;
}

@media only screen and (max-width: 992px) {
    .card-header {
        font-size: 150%;
    }
}

.footer {
    background-color: rgb(24, 2, 104) !important;
    font-family: 'Inconsolata', monospace;
}

.mobile-footer{
    display: none;
    font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 576px) {
    .caption {
        font-size: 2.5rem !important;
        padding: 10px;
        margin: 10px auto;
    }

    .sub-caption-text{
        padding: 5px 0 0 0 !important;
    }

    .sub-caption-text div{
        padding: 0px !important;
    }

    .sub-caption-text h2{
        font-size: 1.1rem !important;
    }
    
    .flag{
        padding: 0px !important;
    }

    .card-header {
        font-size: 100% !important;
    }

    .card-body{
        padding: 5px !important;
    }

    .card-title{
        padding: 0px !important;
        font-size: 140% !important;
    }

    .footer{
        display: none !important;
    }

    .mobile-footer{
        display: block !important;
    }

    .mobile-footer-head{
        margin-bottom: -10px;
    }

    .mobile-footer-head-cover{
        background-color: rgb(16, 0, 73) !important;
    }

    .mobile-footer-body{
        background-color: rgb(24, 2, 104) !important;
    }

    .mobile-footer-button:focus{
        outline: 5px auto rgb(48, 3, 209) !important;
    }
}