<nav class="navbar navbar-dark fixed-bottom footer">
  <h5 class="navbar-brand footer-n-caption" href="./">Covid19 SL Report</h5>
  <span class="navbar-text">
    <b>Developers - </b>
    <br> Supun Tharinda | Hasala Heiyanthuduwa
  </span>
  <span class="navbar-text">
    <b>Live Updating Crew - </b>
    <br> Chamuthu Megha | Chamindu Jayanath
  </span>
</nav>

<div class="pos-f-t fixed-bottom mobile-footer">
  <div class="collapse mobile-footer-head" id="navbarToggleExternalContent">
    <div class="mobile-footer-head-cover p-4">
      <div class="navbar-text">
        <b>Developers - </b>
        <br> Supun Tharinda
        <br> Hasala Heiyanthuduwa
      </div>
      <br>
      <div class="navbar-text">
        <b>Live Updating Crew - </b>
        <br> Chamuthu Megha
        <br> Chamindu Jayanath
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark mobile-footer-body">
    <button class="navbar-toggler mobile-footer-button mx-auto" type="button" data-toggle="collapse"
      data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <h6 class="text-white text-center h6">COVID-19 SL Report</h6>
    </button>
  </nav>
</div>
