<div class="header" id="header-nav">
    <div class="header-box shadow">
      <div class="caption">
        <h1>COVID-19</h1>
        <h2>Report of Sri Lanka</h2>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark header-navbar" style="background-color: #151823;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin: auto !important;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="margin: auto !important;">
            <li class="nav-item {% if page.url == '/' %}active{% endif %} dropdown">
              <a class="nav-link dropdown-toggle" href="./" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                HOME
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./#localDetails">Local Details</a>
                <a class="dropdown-item" href="./#hospitalDetails">Hospital Details</a>
                <a class="dropdown-item" href="./#latestTimeline">Latest Timeline</a>
                <a class="dropdown-item" href="./#confirmedMap">District Distribution of Confirmed Patients</a>
                <a class="dropdown-item" href="./#latestNews">Latest News</a>
                <a class="dropdown-item" href="./#emergencyContacts">Emergency Contacts</a>
              </div>
            </li>
            <li class="nav-item {% if page.url == '/global.html' %}active{% endif %}">
              <a class="nav-link" href="./global.html">GLOBAL</a>
            </li>
            <li class="nav-item {% if page.url == '/news.html' %}active{% endif %} dropdown">
              <a class="nav-link dropdown-toggle" href="./news.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NEWS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="./news.html#allNews">All News</a>
                <a class="dropdown-item" href="./news.html#archivedNews">Archived News</a>
              </div>
            </li>
            <li class="nav-item {% if page.url == '/map.html' %}active{% endif %}">
              <a class="nav-link" href="./map.html">MAPS</a>
            </li>
            <li class="nav-item {% if page.url == '/timeline.html' %}active{% endif %}">
              <a class="nav-link" href="./timeline.html">TIMELINE</a>
            </li>
            <li class="nav-item {% if page.url == '/doc.html' %}active{% endif %}">
              <a class="nav-link" href="./doc.html">DOCUMENTS</a>
            </li>
          </ul>
        </div>
        </nav>
    </div>
</div>


<style>
  #header-nav{
    transition: top 0.3s;
  }
  .dropdown-item:hover{
    background-color: #007bff !important;
    color: white !important;
  }
</style>

<script>
  var prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    var currentScrollPos = window.pageYOffset;
    if (prevScrollpos > currentScrollPos) {
      document.getElementById("header-nav").style.top = "0";
    } else {
      document.getElementById("header-nav").style.top = "-50px";
    }
    prevScrollpos = currentScrollPos;
  }
</script>