<div class="header">
    <div class="header-box shadow">
      <div class="caption">
        <h1>COVID-19</h1>
        <h2>Report of Sri Lanka</h2>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark header-navbar" style="background-color: #151823;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin: auto !important;">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="margin: auto !important;">
            <li class="nav-item {% if page.url == '/' %}active{% endif %}">
              <a class="nav-link" href="./">HOME</a>
            </li>
            <li class="nav-item {% if page.url == '/global.html' %}active{% endif %}">
              <a class="nav-link" href="./global.html">GLOBAL</a>
            </li>
            <li class="nav-item {% if page.url == '/news.html' %}active{% endif %}">
              <a class="nav-link" href="./news.html">NEWS</a>
            </li>
            <li class="nav-item {% if page.url == '/map.html' %}active{% endif %}">
              <a class="nav-link" href="./map.html">MAPS</a>
            </li>
            <li class="nav-item {% if page.url == '/timeline.html' %}active{% endif %}">
              <a class="nav-link" href="./timeline.html">TIMELINE</a>
            </li>
            <li class="nav-item {% if page.url == '/doc.html' %}active{% endif %}">
              <a class="nav-link" href="./doc.html">DOCUMENTS</a>
            </li>
          </ul>
        </div>
        </nav>
    </div>
</div>

